@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");
h1
{
    font-size: 1.5;
	font-family: Raleway, serif;
}
h2
{
	font-size: :1.3em;
	font-family: Raleway, serif;
}
p, li
{
	font-size: 1em;
	font-family: Raleway, serif;
}
