/****************************************************************/
/*					NOUVELLES POLICES							*/
/****************************************************************/

@font-face {
    font-family: 'Raleway';
    src: url('font/raleway/Raleway-Regular.ttf');
}
@font-face {
	font-family: 'Ralewaybold';
	src: url('font/raleway/Raleway-Bold.ttf');
}


body
{
	font-size: 1.1em;
	font-family: Raleway, serif;
	margin: auto;
	margin-left: 15%;
	margin-right: 15%;
	/*max-width: 1000px;*/
	/*min-width: 800px;*/
	color: 	#696969;
	background-color: #000033;
	background-size: cover;
}

#corp
{
	background-color: white;
	padding-left: 13%;
	padding-right: 15%;
	padding-bottom: 5%;
	padding-top: 5%;
	margin-top: 5%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

section{
	border-bottom: 0.1px #696969 solid;
	width: 100%;
	border-color: #E3E3E3;

}
h1
{
    font-size: 3em;
	border-bottom: 2px white solid;
	min-width: 80%;
	padding-bottom: 15px;
	font-family: Raleway, serif;
	text-align: center;
	color:white;
	margin-left: auto;
	margin-right: auto;
}

.presentation
{
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	font-family: Raleway, serif;
	color: white;
	text-align: center;
	padding-bottom: 15px;
}

#lienpres
{
	font-family: Raleway, serif;
	color: white;

}

h2
{
	font-family: Ralewaybold, serif;
	text-align: justify;
	margin-bottom:6px;
}
h3
{
	font-family: Ralewaybold, serif;
	font-size :1.1em;
}
.date
{
	font-size: 1em;
	font-family: Ralewaybold, serif;
}

.contact
{
	margin-top: 4px;
	text-align: center;
}

.imagelink
{
	margin-top: 5px;
	display: flex;
	justify-content: center;
}

li
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: justify;
	line-height: 1.4;
}

.souslist
{
	list-style: square;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;

}



a
{
	text-decoration:none;
	color:#696969;
}
a:hover
{
	text-decoration: underline;
}

a:visited
{
	color:#696969;
}

.imageContainer
{
	display: flex;
	margin:auto;
	justify-content: center;
    align-items: center;
	width:200px;
	height:200px;
	border-radius:80%;
	overflow: hidden;
}
